version: "3.3"

services:
  # application Flask server
  app:
    container_name: mender_www
    restart: unless-stopped

    build:
      context: .
      dockerfile: Dockerfile

    logging:
      driver: "json-file"
      options:
        max-size: "100k"
        max-file: "10"

  # reverse-proxy NGINX server
  web:
    image: "nginx:1.29"
    container_name: mender_nginx
    restart: on-failure
    
    # NOTE: Places both containers in the same network
    links:
      - app
      
    depends_on:
      - app

    logging:
      driver: "json-file"
      options:
        max-size: "100k"
        max-file: "10"

    ports:
      - "80:80"
      - "443:443"

    volumes:
      # Keep logs outside of Docker
      - ./logs/nginx:/var/log/nginx
      - ./conf/nginx.conf:/etc/nginx/nginx.conf:ro
      # TODO: A full list of mimetypes is needed?
      - ./conf/mime.types:/etc/nginx/conf.d/mime.types:ro
