{% extends "post_layout.html" %}
{% block post_content %}
    <h1 class="title is-3">{{ title or "Post Title" }}</h1>
    {% if publish_date %}
        <h2 class="subtitle is-7">Published: {{ publish_date }}</h2>
    {% endif %}

    <div class="content has-text-justified">
        <p>Every story has a beginning. This one is no different. My story begins
            in my early childhood, when I got my first Nintendo Entertainment System
            (NES) console.</p>

        <p>To be completely frank, though it was not the original NES overhyped in
            those shoddy TV commercials (a picture of a 2 + 2 perfect American
            family, ecstatically gaming on a NES which is not even connected to the
            telly). It was a <em>genuine</em> (pun intended) famiclone resembling
            Batman's automobile.</p>

        <figure>
            <img src="https://i.ytimg.com/vi/Lz2nRVTUPas/maxresdefault.jpg">
            <figcaption>
                Not as fast as a real batmobile, but at least runs Super Mario Bros...
                (<a target="--blank" href="https://www.youtube.com/watch?v=Lz2nRVTUPas">courtesy of the Interwebs</a>)
            </figcaption>
        </figure>

        <p>I opened it up a few years later and noticed how shabby the wiring was.
            Surprising it even worked! Nevertheless, I was excited to get it for my
            birthday as a toddler. It came with 2 gamepads, a knock-off NES zapper
            and one of those infamous 128-in-1 cartridges. Today that doesn't sound
            like much, but back then it was paradise. Even though the cartridge
            really held only around 15 unique titles. My favourites were
            <em>Yi Er Kung Fu</em> and <em>Duck Hunt</em>. I didn't like
            <em>Super Mario Bros</em> as much, because I sucked at it (I know,
            embarrassing...). I spent entire days gaming on my famiclone and in time
            accumulated several cool gaming titles, like <em>Darkwing Duck</em>,
            <em>Duck Tales 1 & 2</em>, <em>Ghost Busters 2</em>, and
            <em>Tom and Jerry</em>. Then, things changed a bit and my adventures with
            personal computers (PCs) finally began...</p>

        <p>My father is a retired electronics engineer and a hobbyist tinkerer.
            Incidentally, he is extremely deft at assembling PCs. The first computer
            I ever owned was built from scratch by him. Thinking about it today
            makes me incredibly proud of him, but also quite jealous! He had the
            opportunity to grow up along the very first personal computers and gaming
            consoles, like Atari 2600 or Commodore 64 (not to mention the Silicon
            Graphics SGI workstations and SPARC servers from Sun Microsystems...). My
            first computer was a Pentium P5 (P54C of the 80502 architecture, to be
            exact). It was clocked at 100 MHz and had 32 MB RAM on the motherboard as
            far as I remember. The PC sported the amazing (for its time anyway) Matrox
            3D graphics card and the Sound Blaster Pro sound card. On this <em>beast</em>
            of a machine I played titles such as <em>Electro Body</em>,
            <em>The Incredible Machine</em>, <em>Commander Keen</em>,
            <em>Cosmo's Cosmic Adventures</em> and other great games from the DOS era.
            Apogee used to make fantastic platformers for the DOS. Good old Windows
            3.11 also sported some nice office games.</p>

        <p>Alas, no hardware lasts forever, especially when it's maintained by a curious
            and adventurous teenager. It so happened that I accidentally overclocked my
            graphics card and literally burnt it to a crisp. Back then configuring sound
            and graphics was a bit of an ordeal and one could easily mess something up.
            Since the graphics card had to be replaced anyway, we upgraded the machine
            with extra RAM and installed Windows 98. It is arguably the second best
            operating system from Microsoft - a joy to work with and a joy to game on. My
            next computer came much later and it was a real powerhouse. The pinnacle of
            its generation, in fact. It was the venerable Pentium IV with 2 GB RAM and
            the GeForce 2 MX graphics card (later upgraded to GeForce 7100). The
            operating system was Windows XP. If Windows 98 was great, Windows XP was
            light years better. The best desktop operating system ever created, as far as
            I'm concerned! It was a feat Microsoft did not manage to repeat until this day.
            Actually, the PC still sits at my parents' place, in my former bedroom.</p>

        <figure>
            <img src="http://st.depositphotos.com/1695366/1398/v/950/depositphotos_13983676-stock-illustration-cartoon-square-wheel.jpg">
            <figcaption>Feeling like a caveman, struggling to tumble that square stone wheel?
                Try Windows Vista!
                (<a target="--blank" href="http://st.depositphotos.com/1695366/1398/v/950/depositphotos_13983676-stock-illustration-cartoon-square-wheel.jpg">courtesy of the Interwebs</a>)
            </figcaption>
        </figure>

        <p>At this point my story stagnated a bit. Since Pentium IV was a powerful processor
            and Windows XP an extremely resilient operating system, I had no need for a new
            computer for a very long time. True, games like <em>The Elder Scrolls IV: Oblivion</em>
            would stutter when fully modded and the PC would run hot often (a major flaw of
            the Pentium IV series), but other than that it was dandy. Honestly, I had no
            regrets since the successor of Windows XP, Windows Vista was a pile of horse
            dung, an absolute disaster. It did introduce tech advancements like DirectX 10
            support, but the alpha state of the User Account Control (UAC) made the life of
            end-users unnecessarily difficult. Next up was Windows 7. A definite improvement
            over Windows Vista, but even a square stone wheel would qualify (shows just how
            little love I have for Vista). Admittedly, Windows 7 was a slightly more stable
            system than Windows XP and introduced a number of useful features during the
            Intel Core Duo era. Ever since, however, Windows has been in decline. To me, the
            primary issue is that Microsoft spends too much of their precious time on
            re-arranging menus (<em>redefining looks</em>). I understand that for the end-user
            to notice any change in a software product, the graphical user interface (GUI)
            demands a retouch. However, why do the changes need to cripple user experience?
            Case in point, the Control Panel was completely redesigned with very little gain.
            I myself couldn't adjust even the simplest of settings, which were made so
            accessible in Windows XP. The <em>Microsoft Office 2007</em> business software
            suite suffered from a similar interface design malady. According to one business
            study, the new ribbon menu significantly reduced the productivity of employees.
            Even if that's not entirely true, in hindsight the feature is pointless. The
            previous menu made more sense. If item distribution had been a concern, they
            should've engineered it in a more ergonomic and meaningful way. There is an
            important rule in programming: <em>Don't try to fix something that doesn't
                require fixing</em>. There is nothing worse than a disgruntled end-user.</p>

        <p>The Pentium IV desktop PC was reliable, but university studies required something
            a bit more potent. Furthermore, I couldn't really carry it with me for my stay
            abroad. Hence, my parents bought me one of those moderately strong multimedia
            laptops with dual graphics (Intel HD 3000 + nVidia GeForce 520 MX) from Samsung.
            It had Windows 7 pre-installed, together with a one-time <em>gift</em> of free
            bloatware. Once I learnt the ins and outs of the operating system (granted, it
            required 2 clean installations and several DVDs to get things running properly),
            I realized that I'm not happy with it at all. Clearly, Windows 7 was not for me.
            It was packed with countless features I would never use, and which I could not
            disable without potentially breaking the system. Also, it hogged resources like a
            greedy tycoon. To add insult to injury, every subsequent system update added more
            bloat, and used more and more RAM. What pained me the most was the constant CPU
            throttling due to overheating. The laptop had a single fan shared between the CPU
            and GPU. Every time I used GPU acceleration, either while gaming or watching
            movies, the temperature would skyrocket to such values that the CPU had to reduce
            its clock speed to prevent permanent damage. Not exactly the fault of Windows,
            but as I learnt much later, Windows doesn't disable the discrete GPU even when
            all configuration menus claim it's off.</p>

        <p>As a user I was quite obviously dissatisfied. Something needed to change, but I
            wasn't sure what and how. Windows 8 was a no-go, with its god-awful graphical
            user interface, which made it look like a toy operating system. Windows 10 was on
            the horizon, but early screenshots revealed a bizarre combination of Windows 7
            and Windows 8.1. Alas, neither was my cup of tea... This reflection was painful
            yet at the same time refreshing. I was no longer the target audience of Microsoft
            Windows. On the other hand, Apple products were too expensive, so I had to take
            an entirely different route. A brave first step into the unknown - into Linux!</p>
    </div>
{% endblock %}
