{% extends "layout.html" %}
{% block content %}
    <h1 class="title is-3">Greetings!</h1>

    <div class="content">
        <p><strong>Welcome to my humble blog!</strong></p>
        <p>Here, I document my toils and struggles. My musings and rumblings.
            My journey through the amazing world of electronics, technology and computing.</p>
        <p>Sit, stand up, lie down or take any other comfortable position of your choosing.
            More importantly, <em>enjoy</em>!</p>
        <p>I write mostly about computers, operating systems and programming languages.
            However, on occasion I take a deep dive into the world of politics, social sciences
            and economy if it tickles my fancy at any given time.</p>
        <p>You might like my ideas and writing style or you might not. Regardless, I encourage you,
            the reader to at least have a look at my many posts. Who knows, maybe you will find
            something to your liking after all...</p>
        <figure>
            <img src="https://proxy.duckduckgo.com/iur/?f=1&image_host=https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2Foriginals%2F63%2F03%2Fbc%2F6303bce4e8b1da6fcb4b7b3d2b002772.jpg&u=https://i.pinimg.com/originals/63/03/bc/6303bce4e8b1da6fcb4b7b3d2b002772.jpg">
            <figcaption>My native environment (<a href="https://gamestudio.champlain.edu">courtesy of the Interwebs</a>).</figcaption>
        </figure>


    </div>
{% endblock %}
