{% extends "layout.html" %}
{% block content %}
    <h1 class="title is-4">Page not Found!</h1>
    <div class="content">
        <p>Unfortunately, we could not find the requested page. It is currently
            not accessible, no longer available or never existed. Please, have a
            look at other posts.</p>
        <p>Please...?</p>
        <figure class="image">
            <img src="https://i.dailymail.co.uk/i/pix/2014/04/11/article-2602528-1D06B2D200000578-424_634x471.jpg">
            <figcaption>This cat is very, very sorry...(<a href="https://www.dailymail.co.uk/news/article-2602528/Feline-blue-Cats-captured-camera-appearing-look-pitifully-sad.html">courtesy of the Interwebs</a>)</figcaption>
        </figure>
    </div>
{% endblock %}